<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required><br>

        <label for="password">Password</label>
        <input type="text" name="password" id="password" required><br>

        <label for="fav_word">Favourite word</label>
        <input type="text" name="fav_word" id="fav_word"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
